.header {
  padding: 12px 15px;
  border-bottom: 1px solid #3470ff;
  background-color: rgb(247, 247, 251);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 15px 65px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 18px 115px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 1023px) {
  .header--list {
    display: none;
  }
  .header--burger-btn {
    display: flex !important;
    background-color: transparent;
    transition: transform ease-in 0.3s;
    transform: rotate(0deg);
  }
  .header--close-btn:hover {
    background-color: transparent;
  }
  .header--burger-btn.rotate {
    transform: rotate(180deg);
  }
}

.header--list > li > a {
  border: 1px solid;
  border-radius: 30px;
  padding: 12px 23px;
  color: #3470ff;
  cursor: pointer;
}
.header--list > li > a:hover {
  border: transparent;
  transform: scale(1.1);
  box-shadow: 0 0 5px #000;
  text-shadow: 0 0 5px #3470ff;
}
.header--list > li > a.active {
  background-color: #3470ff;
  color: #fff;
}

.header--logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #3470ff;
  padding: 12px 23px;
  cursor: pointer;
}
.header--logo-link:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px #3470ff;
}
