button {
  color: white;
  background-color: #3470ff;
  border: none;
}
button:hover {
  background-color: #0b44cd;
}

.main-btn-long {
  display: flex;
  padding: 12px 99px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in,
    transform 0.3s ease-in;
}
.main-btn-long:hover {
  background-color: #0b44cd;
  transform: scale(1.1);
  box-shadow: 0 5px 5px #000;
}
.main-btn {
  display: flex;
  padding: 14px 44px;
  width: 168px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  background: #3470ff;
  color: white;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in,
    transform 0.3s ease-in;
}
.main-btn:hover {
  background-color: #0b44cd;
  transform: scale(1.1);
  box-shadow: 0 5px 5px #000;
}
.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #3470ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  stroke: #3470ff;
  fill: none;
  transition: color 0.3s ease-in, text-shadow 0.3s ease-in,
    transform 0.3s ease-in;
}
.load-more-btn:hover {
  color: #0b44cd;
  background-color: transparent;
  stroke: #0b44cd;
  fill: none;
  transform: scale(1.1);
  text-shadow: 0 5px 5px #000;
}
