@import "normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope, "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
